@use '../variables' as *;

.keyboard-race {
  &-container {
    position: relative;
    padding: 40px;
    height: 280px;
    width: 100%;

    background: $color-white;
    border-radius: 16px;
    box-shadow: 0 4px $spacing-medium $color-box-shadow;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    will-change: transform, opacity;
    font-weight: 500;
    transition: color 0.3s ease;
    top: 50%;
    left: 50%;
    font-size: 70px;
    white-space: nowrap;

    &--success {
      color: $color-green-primary;
    }

    &--error {
      color: $color-red;
    }
  }
}
